fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
email-validator
httpx
python-docx
fpdf2
websockets
pycrdt
pycrdt-websocket
python-multipart
psycopg2-binary
pypdf
boto3
beautifulsoup4
